<form class="form form-modal">
	<div id="tern-theme-form-shortcodes"><div class="tern-theme-model-form">
		
		<div id="tern-theme-shortcodes"><div>
			<br class="clearfix" />
			<h1>Select a Shortcode</h1>
			<div class="alert alert-danger alert-edit"><strong>Warning:</strong> You are about to choose a shortcode to replace the one you're editing. This will delete and replace your existing shortcode options. Close this window if you'd like to cancel.</div>
			<hr />
			<ul>
				<li><a href="#" data-target="accordion"><i class="fa fa-navicon"></i> Accordion</a></li>
				<li><a href="#" data-target="row"><i class="fa fa-columns"></i> Add Row / Columns</a></li>
				<li><a href="#" data-target="alert"><i class="fa fa-exclamation"></i> Alert / Error</a></li>
				<li><a href="#" data-target="button"><i class="fa fa-hand-o-up"></i> Button</a></li>
				<li><a href="#" data-target="collapse"><i class="fa fa-angle-double-up"></i> Collapsing Section</a></li>
				<li><a href="#" data-target="code"><i class="fa fa-code"></i> Code</a></li>
				<li><a href="#" data-target="rule"><i class="fa fa-minus"></i> Horizontal Rule</a></li>
				<li><a href="#" data-target="image"><i class="fa fa-photo"></i> Image</a></li>
				<!--<li><a href="#" data-target="slider"><i class="fa fa-forward"></i> Slider / Carousel</a></li>-->
				<li><a href="#" data-target="spacer"><i class="fa fa-arrows-v"></i> Spacer</a></li>
				<li><a href="#" data-target="tab"><i class="fa fa-th-list"></i> Tabs</a></li>
				<li><a href="#" data-target="text"><i class="fa fa-pencil"></i> Text Block</a></li>
				<li><a href="#" data-target="well"><i class="fa fa-stop"></i> Well</a></li>
			</ul>
		</div></div>
		
		<?php include(THNK_BIS_DIR.'/view/shortcodes-accordion.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-row.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-alert.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-button.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-collapse.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-code.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-image.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-rule.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-slider.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-spacer.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-tab.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-text.html'); ?>
		<?php include(THNK_BIS_DIR.'/view/shortcodes-well.html'); ?>
		
	</div></div>
</form>

<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-accordion.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-row.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-alert.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-button.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-collapse.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-code.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-image.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-rule.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-slider.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-spacer.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-tab.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-text.html'); ?>
<?php include(THNK_BIS_DIR.'/view/shortcodes-underscore-well.html'); ?>