<div id="tern-theme-shortcodes-image" class="tern-theme-shortcode-form form" data-type="image"><div>
	<br class="clearfix" />
	
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
		
	<h1><?php echo __('Image Settings','tern-theme'); ?></h1>
	<hr />
	<table class="form-table">
		<tr>
			<th><label><?php echo __('Select an Image','tern-theme'); ?></label></th>
			<td>
				<div class="image"></div>
				<a href="#" class="button button-primary btn-image-select"><?php echo __('Open Media Window','tern-theme'); ?></a>
				<input type="hidden" name="image" value="" />
			</td>
		</tr>
	</table>

	<hr />
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	
	<br class="clearfix" />
			
</div></div>