<div id="tern-theme-shortcodes-spacer" class="tern-theme-shortcode-form form" data-type="spacer"><div>
	<br class="clearfix" />
	
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
		
	<h1><?php echo __('Spacer Settings','tern-theme'); ?></h1>
	<hr />
	<table class="form-table">
		<tr>
			<th><label><?php echo __('Height of Spacer','tern-theme'); ?></label></th>
			<td>
				<input type="text" name="height" class="regular-text" placeholder="<?php echo __('Type a numerical value...','tern-theme'); ?>" />
			</td>
		</tr>
	</table>
	<hr />
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	<br class="clearfix" />
			
</div></div>