<div id="tern-theme-shortcodes-alert" class="tern-theme-shortcode-form form" data-type="alert"><div>
	<br class="clearfix" />
	
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
		
	<h1><?php echo __('Alert / Error','tern-theme'); ?></h1>
	<hr />
	<table class="form-table">
		<tr>
			<th><label><?php echo __('Type of alert/error','tern-theme'); ?></label></th>
			<td>
				<select name="type">
					<option value="success"><?php echo __('Success','tern-theme'); ?></option>
					<option value="danger"><?php echo __('Danger','tern-theme'); ?></option>
					<option value="warning"><?php echo __('Warning','tern-theme'); ?></option>
					<option value="info"><?php echo __('Info','tern-theme'); ?></option>
				</select>
			</td>
		</tr>
		<tr>
			<th><label><?php echo __('Message','tern-theme'); ?></label></th>
			<td>
				<input type="text" name="message" class="regular-text" placeholder="Type your message here..." />
			</td>
		</tr>
	</table>
	<hr />
	<div class="alert alert-success"><?php echo __('This is where your message will go.','tern-theme'); ?></div>
	<hr />
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	<br class="clearfix" />
			
</div></div>