<div id="tern-theme-shortcodes-collapse" class="tern-theme-shortcode-form form" data-type="collapse"><div>
	<br class="clearfix" />
	
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
		
	<h1><?php echo __('Collapsing Section','tern-theme'); ?></h1>
	<hr />
	<table class="form-table">
		<tr width="20%">
			<th><label><?php echo __('Style of button','tern-theme'); ?></label></th>
			<td>
				<select name="type">
					<option value="default"><?php echo __('Default','tern-theme'); ?></option>
					<option value="primary"><?php echo __('Primary','tern-theme'); ?></option>
					<option value="success"><?php echo __('Success','tern-theme'); ?></option>
					<option value="info"><?php echo __('Info','tern-theme'); ?></option>
					<option value="warning"><?php echo __('warning','tern-theme'); ?></option>
					<option value="danger"><?php echo __('Danger','tern-theme'); ?></option>
					<option value="link"><?php echo __('Link','tern-theme'); ?></option>
				</select>
			</td>
		</tr>
		<tr>
			<th><label><?php echo __('Button Text','tern-theme'); ?></label></th>
			<td>
				<input type="text" name="text" class="regular-text" placeholder="<?php echo __('Type your text here...','tern-theme'); ?>" />
			</td>
		</tr>
		<tr class="editors">
			<th><label><?php echo __('Tab Content','tern-theme'); ?></label></th>
			<td><textarea id="shortcodes-collapse-content" class="wp-editor-area regular-text" autocomplete="off" rows="8" name="content" aria-hidden="true"></textarea></td>
		</tr>
	</table>
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	<br class="clearfix" />
			
</div></div>