<div id="tern-theme-shortcodes-rule" class="tern-theme-shortcode-form form" data-type="rule"><div>
	<br class="clearfix" />
	
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
		
	<h1><?php echo __('Rule','tern-theme'); ?></h1>
	<hr />
	<label><?php echo __('Select Type:','tern-theme'); ?></label>
	<br /><br />
	<ul class="row">
		<li class="span3">
			<div class="rule">
				<hr class="default" data-type="default" />
			</div>
		</li>
		<li class="span3">
			<div class="rule">
				<hr class="dotted" data-type="dotted" />
			</div>
		</li>
		<li class="span3">
			<div class="rule">
				<hr class="dashed" data-type="dashed" />
			</div>
		</li>
		<li class="span3">
			<div class="rule">
				<hr class="double" data-type="double" />
			</div>
		</li>
	</ul>
	<hr />
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	<br class="clearfix" />
			
</div></div>