<div id="tern-theme-shortcodes-row" class="tern-theme-shortcode-form form" data-type="row"><div>
	<br class="clearfix" />
	
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
		
	<h1><?php echo __('Row / Column Settings','tern-theme'); ?></h1>
	<hr />
	<table class="form-table">
		<tr>
			<th><label><?php echo __('Number of Columns','tern-theme'); ?></label></th>
			<td><input type="text" name="number" class="regular-text" value="2" /></td>
		</tr>
	</table>
	<hr />
	<div class="column-config"><div>
	<h3><?php echo __('Set the number of Bootstrap Columns you\'d like this column to span at each responsive breakpoint.','tern-theme'); ?></h3>
	<table class="form-table">
		<tr>
			<th><label><?php echo __('Desktop Column Width (col-lg-x)','tern-theme'); ?></label></th>
			<td>
				<select name="span-lg">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<span>col-lg-x</span>
			</td>
		</tr>
		<tr>
			<th><label><?php echo __('Desktop Column Width (col-md-x)','tern-theme'); ?></label></th>
			<td>
				<select name="span-md">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<span>col-md-x</span>
			</td>
		</tr>
		<tr>
			<th><label><?php echo __('Tablet Column Width (col-sm-x)','tern-theme'); ?></label></th>
			<td>
				<select name="span-sm">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<span>col-sm-x</span>
			</td>
		</tr>
		<tr>
			<th><label><?php echo __('Mobile Column Width (col-xs-x)','tern-theme'); ?></label></th>
			<td>
				<select name="span-xs">
					<option value="1">1</option>
					<option value="2">2</option>
					<option value="3">3</option>
					<option value="4">4</option>
					<option value="5">5</option>
					<option value="6">6</option>
					<option value="7">7</option>
					<option value="8">8</option>
					<option value="9">9</option>
					<option value="10">10</option>
					<option value="11">11</option>
					<option value="12">12</option>
				</select>
				<span>col-xs-x</span>
			</td>
		</tr>
		<tr>
			<th></th>
			<td><a href="#" class="button button-primary button-span-done"><?php echo __('Done','tern-theme'); ?></a>
		</tr>
	</table>
	<hr />
	</div></div>
	<ul class="row">
		<li class="span6" data-span=6>
			<div class="controls">
				<a href="#" class="button button-plus" data-way=1><i class="fa fa-plus"></i></a>
				<a href="#" class="button button-minus" data-way=0><i class="fa fa-minus"></i></a>
				<a href="#" class="button button-config"><i class="fa fa-gear"></i></a>
			</div>
		</li>
		<li class="span6" data-span=6>
			<div class="controls">
				<a href="#" class="button button-plus" data-way=1><i class="fa fa-plus"></i></a>
				<a href="#" class="button button-minus" data-way=0><i class="fa fa-minus"></i></a>
				<a href="#" class="button button-config"><i class="fa fa-gear"></i></a>
			</div>
		</li>
	</ul>
	<hr />
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	<br class="clearfix" />
			
</div></div>