<div id="tern-theme-shortcodes-slider" class="tern-theme-shortcode-form form" data-type="slider"><div>
	<br class="clearfix" />
	
	<?php if(!isset($slides) or empty($slides)) { ?>
	<div class="alignright">
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	<h1><?php echo __('You have not yet created any slides.','tern-theme'); ?></h1>
	<?php } else { ?>
	
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
		
	<h1><?php echo __('Slider Settings','tern-theme'); ?></h1>
	<hr />
	<table class="form-table">
		<tr>
			<th><label><?php echo __('Number of Slides','tern-theme'); ?></label></th>
			<td><input type="text" name="number" class="regular-text" value="2" /><a href="#" class="button button-primary number-update"><?php echo __('Update','tern-theme'); ?></a></td>
		</tr>
	</table>
	
	<hr />
	<ul class="row">
		<li class="span6" data-span=6>
			<div class="controls">
				<?php echo $ternSel->create(array(
					'data'		=>	$slides,
					'type'		=>	'multi',
					'key'		=>	'post_title',
					'value'		=>	'ID',
					'name'		=>	'slides[]'
				)); ?>
			</div>
		</li>
		<li class="span6" data-span=6>
			<div class="controls">
				<?php echo $ternSel->create(array(
					'data'		=>	$slides,
					'type'		=>	'multi',
					'key'		=>	'post_title',
					'value'		=>	'ID',
					'name'		=>	'slides[]'
				)); ?>
			</div>
		</li>
	</ul>
	<hr />
	<div class="alignright">
		<a href="#" class="button button-primary button-add"><?php echo __('Add','tern-theme'); ?></a>
		<a href="#" class="button button-primary button-update"><?php echo __('Update','tern-theme'); ?></a>
		<a href="#" class="button back"><span class="back"><?php echo __('Back','tern-theme'); ?></span><span class="change"><?php echo __('Change','tern-theme'); ?></span></a>
	</div>
	
	<?php } ?>
	<br class="clearfix" />
			
</div></div>